body{
	background-color: white;
	font-family:"Helvetica Neue",Helvetica, Arial, sans-serif;
	color: black;
	overflow-x: hidden;
	text-align: center;
	font-weight: 200;
}

.pointer{
	cursor: pointer;
}

.margined-top{
	margin-top: 5%;
}

.row{
	padding-top: 1%;
	padding-bottom: 1%;
}

.implement{
	padding-top: 3%;
	padding-bottom: 3%;
}

.vert-middle{
	margin-top: 20px;
  	margin-bottom: 10px;
}

.thin {
	font-weight: 100;
}

.thicker {
	font-weight: 200;
}

.ft-bigger{
	font-size: 6em;
}

.ft-big{
	font-size: 3em;
}

.img-responsive{
	height: 30px;
	width: 30px;
}


/*Colors*/
.ft-white{
	color:white;
}

.bg-blackie{
	background-color: #353535;
}

@media (max-width: 400px){

	.nav > li {
		display: inline;
	}

	.nav > li > a {
		display: inline;
	}

	.line-numbers .line-numbers-rows {
		display: none;
	}

	code[class*="language-"], pre[class*="language-"] {
		tab-size: 0;
		text-align: center;
	}	
}



